/*

colors:
	blue: #113A63;
	orange: #f26122 ;

 */

* {
	padding: 0px;
	font-family: arial,sans-serif;
	color: #113A63;
	font-size: 1em;
}

a {
	text-decoration: none;
	cursor: pointer;
}

nav {
	background-color: #113A63;
	border-bottom: 10px solid #f26122;
}

li {
	list-style-type: none;
}

/* -------HEADER------------- */

div header {
	position: relative;
	height: 65px;
	margin: 0;
	font-variant: small-caps;
}

#headerName {
	display: block;
	color: #fff;
	float: left;
	font-size: 2.5em;
}

#navigation_header ul {
	height: 100%;
 	text-align: right;
 	margin: 0 10px;
	line-height: 64px;
 }
 
.nav_link {
	width: 70px;
	display: inline-block;
	text-align: center;
	border: 1px solid #f26122;
	padding: 0px 10px;
	background-color: #f26122;
	font-weight: 700;
	margin-right: 10px;
}

#navigation_header a:link {
	padding-top: 21px;
	padding-bottom: 21px;
}

#navigation_header a:hover {
	color: #fff;
}

.nav_link:hover {
	background-color: #fe803f;
}


/* -------MAIN CONTENT------------- */

#main_container {
	width: 70%;
	clear: both;
	margin: 30px auto 0 auto;
}

#hero {
	width: 70%;
	float: left;
	margin-top: 0px;
}

/* -------ARTICLE------------- */

#book_cover {
	float: left;
	margin: auto 20px auto 0;
	width: 188px;
	height: 277px;
}

#book_description {
}

#amazon_logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 168px;
	height: 46px;
}

/* -------ASIDE------------- */

aside {

	width: 25%;
	float: right;
	text-align: center;
	background-color: #113A63;
	padding-left: 10px;
	padding-right: 10px;
}

#media_links img {
	margin: 10px;
}

aside h3 {
	color: #fff;
	margin-bottom: 10px;
}

aside p {
	color: #fff;
	margin-top: 0px;
	text-align: left;
}

/* ------- SECTION ------------- */

section {
	clear: both;
}

.social_media {
	width: 100%;
}

.social_media h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}
.social_media p {
	margin: 0;
	height: 100px;
	overflow: hidden;
	border: 2px solid #dbdbdd;
}

/* ------- BAR ------------- */

hr {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 15px;
	background-color: #f26122;
}